<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>scanner</title>
        <link rel="stylesheet" href="/css/nav-bar.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    </head>
    <body>
        <div class="header">
            <a href="/api/v1/" class="logo">DeepFake Detector</a>
            <div class="header-right">
                <a class="active" href="/api/v1/">Home</a>
                <a href="#contact">Contact</a>
                <a href="#about">About</a>
            </div>
        </div>
        <div class="text">
            <h1>Deep Fake Prediction Result </h1>
        </div>
        <!-- Display the message if available -->
        <div class="text-center">

            <% if (message=="REAL" ) { %>
                <h4 class="mx-auto">Result: <span style="color:green">
                    <%= message %>
                </span>
                <img src="/images/thumpup.png" alt="real" height="100px" width=auto>
                <% } else { %>
                    <h4 class="mx-auto">Result: <span style="color:red">
                        <%= message %>
                    </span>
                    <img src="/images/thumpdown.png" alt="fake" height="100px" width=auto>
                    <% } %>
        </div>
        <!-- <% if (message) { %>
        <div class="message">
            <p><%= message %></p>
        </div>
        <% } %> -->
        <script src="/javascript/scanner.js"></script>
    </body>
</html>
